.link-detail{
    width: 125px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #222;
    font-size: 12px;
    display: block;
    text-align: center;
    line-height: 38px;

.sc-intro & {
    margin: 0 auto;
}

.sc-review & {
    margin: 0 auto;
}


}
