.sc-title{
    text-align: center;
    font-size: 20px;
    font-family: $font-en;

    .sc-intro & {
        margin: 38px 0 16px 0;
        
    }

    .sc-recommend & {
        margin: 40px 0 19px 0;
        font-size: 20px;
        font-family: $font-kr;
        font-weight: bold;

    }

    .sc-review & {
        margin: 39px 0 21px 0;
    }
}

.title{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    font-family: $font-kr;

    .sc-event & {
        font-size: 15px;
    }
    
    .sc-review & {
        font-size: 15px;
    }
    .sc-board & {
        padding-bottom: 15px;
        font-weight: normal;
    }

}
