.sc-title{
    text-align: center;
    font-size: 20px;
    font-family:$font-en;

    .sc-intro & {
        margin: 38px 0 16px 0;
    }

    .sc-recommend & {
        font-weight: bold;
        margin: 40px 0 19px 0;
    }

    .sc-review & {
        margin: 39px 0 21px 0;
    }
}

.title{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    .sc-event & {
        font-size: 15px;
    }
    
    .sc-review & {
        font-size: 15px;
        padding-bottom: 17px;
    }

}
