.sc-visual{
    position: relative;
    .link-slide{
        img{
            width: 100%;
        }
    }
    .btn-nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        width: 23px;
        height: 40px;
        &.prev{background: url(../images/ic-btn-nav-prev.png) no-repeat center; margin-left: -623px}
        &.next{background: url(../images/ic-btn-nav-next.png) no-repeat center; margin-left: 600px;}
    }
    .pagination{
        display: flex;
        gap: 11px;
        position: absolute;
        left: 50%;
        bottom: 33px;
        .bullet{
            width: 13px;
            height: 13px;
            border: 2px solid #fff;
            border-radius: 50%;
            box-sizing: border-box;
            transform: translateX(-50%);
            &.active{
                background-color: #fff;
            }
        }
    }
}

.sc-intro{
    .group-content{
        .wrap{
            display: flex;
            justify-content: space-between;
            &.reverse{
                flex-direction: row-reverse;
            }

            .info-box{
                width: 510px;
                }
                .desc{
                    margin: 41px 0 45px 0;
                    }
                }
            }
        }



.sc-recommend{
    .group-content{
        padding: 91px 0;
        &.bg-monitor{background: url(http://gglab.co.kr/image/banner/main_mid_bnr_bg_01.png) center / cover;}
        &.bg-tv{background: url(http://gglab.co.kr/image/banner/main_mid_bnr_bg_02.png) center / cover;}
        &.bg-air{background: url(http://gglab.co.kr/image/banner/main_mid_bnr_bg_03.png) center / cover;}

        .info-box{
            width: 370px;
            height: 330px;
            background: rgba(0,0,0,0.5);
            color:#fff;
            padding: 25px 19px 31px 19px;
            position: relative;
            box-sizing: border-box;
            }
            .title{
                line-height: 1;
                margin-bottom: 16px;
            }
        }
    }

.sc-event{
    margin-top: 100px;
    .event-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .event-item{
            width: 500px;
        
        .info-box{
            margin-top: 23px;
            .term{
                line-height: 28px;
                color:#85858585;
            }
            .title{
                @include elip;
                
            }
            .desc{
                @include elip-multi(2,28px);
                
            }
        }
        .link-detail{
            margin:25px 0 50px 0;
        }
    }
    }
}

.sc-review{
    position: relative;
    .wrap{
        display: flex;
        justify-content: space-between;
        .info-box{
            line-height: 32px;
            padding-top: 20px;
            width: 520px;
            .desc{
                margin-top: 9px;
                text-align: justify;
                @include elip-multi(3,32px)
            }
            .link-detail{
                margin-top: 26px;
            }
        }
    }
    .btn-nav{
        position: absolute;
        top: 280px;
        transform: translateY(-50%);
        width: 23px;
        height: 40px;
        &.prev{background: url(../images/ic-review-btn-prev.jpg) no-repeat center; left: -72px;}
        &.next{background: url(../images/ic-review-btn-next.png) no-repeat center; right: -72px;}
    }

    .pagination{
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        position: absolute;
        left: 50%;
        margin-top: 34px;
        .bullet{
            width: 13px;
            height: 13px;
            border: 2px solid #dddddd;
            border-radius: 50%;
            box-sizing: border-box;
            &.active{
                background-color: #ddd;
            }
        }
    }
}



.group-row{
    margin: 121px 0 120px 0;
    display: flex;
    justify-content: space-between;
    .sc-board{
        width: 510px;
        position: relative;
        .board-list{
            .board-item{
                font-size: 16px;
                color:#222222;
                line-height: 60px;
                border-bottom: 1px solid #dddddd;
                padding-left: 9px;
                a{
                    display: block;
                    height: 100%;
                    @include elip;
                    .date{
                        color:#888888;
                        margin-right: 25px;
                    }
                }
            }
        }
        .link-more{
            width: 30px;
            height: 30px;
            border: 2px solid #eeeeee;
            box-sizing: border-box;
            position: absolute;
            right: 0;
            top: 6px;
            background: url(../images/ic-more.png) no-repeat center;

        }
    }
}
