.footer{
    background: #aaaaaa;
    height: 260px;
    .inner{
        display: flex;
        justify-content: space-between;
        color:#fff;

        .group-info{
            .logo{
                a{
                    display: block;
                    width: 171px;
                    height: 21px;
                    background: url(../images/logo.png) no-repeat;
                    margin: 57px 0 23px 0; 
                }
            }

            .addr-area{
                line-height: 30px;
                font-size: 16px;
                .bar{
                    display: inline-block;
                    height: 14px;
                    width: 2px;
                    background: #fff;
                    margin: 0 10px 0 7px;
                }
                .copy{
                    margin-top: 18px;
                }
            }
        }

        .group-cs{
            width: 300px;
            height: 165px;
            border: 2px solid #fff;
            margin-top: 48px;
            padding: 23px 22px 23px;
            box-sizing: border-box;
            line-height: 30px;
            .title{
                font-family: $font-en;
                font-weight: normal;
            }
            .desc{
                display: inline-block;
                margin-bottom: 20px;
                line-height: 30px;
            }
            .tel{
                font-size: 36px;
                font-family: $font-en;
            }
        }
    }
}