.sc-title{
    text-align: center;
    font-size: 42px;
    font-family: $font-en;
    line-height: 1;
    font-weight: 500;
    

    .sc-intro & {
        margin: 105px 0 65px;
    }

    .sc-recommend & {
        margin: 106px 0 60px 0;
    }

    .sc-review & {
        margin: 29px 0 64px 0;
    }


}

.title{
    font-size: 22px;
    font-weight: bold;
    
    .sc-event & {
        margin: 16px 0 12px 0;
        line-height: 1;
    }

    .group-row & {
        font-weight: normal;
        border-bottom: 3px solid #dddddd;
        padding: 0 0 11px 9px;
        line-height: 40px;
    }
    .sc-review & {
        line-height: 28px;

    }

    .footer & {
        font-size: 24px;
        font-weight: normal;
        font-family: $font-en;
    }
}

